
h1, h2 {
    margin: 20px 0;
    color:#333;
    text-align: center;

}
h2 {
    margin: 20px 0;
}
//Admin users and posts pages
    .adminUserList {
        text-align: center;
        .newuser {
            padding: 10px 30px;
            background-color: rgba(115, 95, 92, 0.781);
            margin: 40px 0;
            display: inline-block;
            text-decoration: none;
            color: #DABFBC;
            transition: .6s;
        }
        .newuser:hover {
            background-color: rgba(115, 95, 92, 0.981);
        }
        .tablecolor {
            background-color: #333;
            color:#DABFBC;
        }
        .admintable {
            text-align: left;
            th {
                font-size: 24px;
            }
            td {
                font-family: 'Stylish', sans-serif;
                font-size: 18px;
            }
            th:last-of-type,
            td:last-of-type{
                text-align: right;
            }
            td{
                a {
                    text-decoration: none;
                    color: #735f5c;
                    transition: .6s;
                    font-size: 24px;
                    margin: 5px;
                }
                a:hover {
                    color: #333;
                    text-decoration: underline;


                }
            }
            th:first-of-type,
            td:first-of-type{
                font-weight: 700;
                text-align: center;
            }
            img {
                height: 100px;
                width: auto;      
            }
        }
    }

//ADMIN edit forms, new user form
    .adminform {
        width: 500px;
        height: 650px;
        background-color: rgba(115, 95, 92, 0.26);
        margin: 0 auto;
        font-family: "Stylish", sans-serif;
        label {
            margin: 15px 0 0;
            display: block;
            text-align: center;
            font-size: 22px;
        }
        input, button, textarea{
            border: none;
            background-color: rgba(115, 95, 92, 0.336) ;
            color: #1E1D29;
            display: block;
            padding: 12px 20px;
            margin: 0 auto;
            text-align: center;
            width: 300px; 
            font-size: 18px; 
        }
        textarea {
            min-height: 300px;
            max-height: 300px;
        }
        button {
            margin: 50px auto;
            background-color: rgba(51, 51, 51, 0.726);
            color:rgb(218, 199, 197);
            transition: .6s;
            text-transform: uppercase;
        }
        button:hover {
            background-color: #333;
            color:rgb(252, 232, 230);
        }
    }
