//Admin container on all pages 
.admin {
    width: 1400px;
    min-height: 900px;
    margin: 0 auto;
    h1, h2 {
        margin: 20px 0;
        color:#333;
        text-align: center;
        font-family: 'Stylish', sans-serif;

    }    
    h2 {
        margin: 20px 0;
    }
//Admin users and posts pages    
    .adminUserList {
        margin: 0 20px;
        text-align: center;
        .newuser {
            padding: 10px 30px;
            background-color: rgba(115, 95, 92, 0.781);
            margin: 40px 0;
            display: inline-block;
            text-decoration: none;
            color: #DABFBC;
            font-size: 20px;
            font-family: 'Stylish', sans-serif;
            transition: .6s;
        }
        .newuser:hover {
            background-color: rgba(115, 95, 92, 0.981);
        }
        .tablecolor {
            background-color: #333;
            color:#DABFBC;
        }
        .admintable {
            text-align: left;
            th:last-of-type,
            td:last-of-type{
                text-align: right;
            }
            th:first-of-type,
            td:first-of-type{
                font-weight: 700;
                text-align: center;
            }
            img {

                height: 100px;
                width: auto;      
            }
        }
    }
//all posts on Admin home page    
    .post {
        text-align: center;
        margin: 0 auto 100px;
        border-bottom: 1px solid rgba(51, 51, 51, 0.94);

        .image {

            img {
                max-width: 900px;
            }
        }
    }
//ADMIN edit forms, new user form    
    .adminform {
        width: 500px;
        height: 650px;
        background-color: rgba(115, 95, 92, 0.26);
        margin: 0 auto;
        font-family: "Stylish", sans-serif;
        label {
            margin: 15px 0 0;
            display: block;
            text-align: center;
            font-size: 22px;
        }
        input, button{
            border: none;
            background-color: rgba(115, 95, 92, 0.336) ;
            color: #1E1D29;
            display: block;
            padding: 12px 20px;
            margin: 0 auto;
            text-align: center;
            width: 300px; 
            font-size: 18px; 
        }
        button {
            margin: 50px auto;
            background-color: rgba(51, 51, 51, 0.726);
            color:rgb(218, 199, 197);
            transition: .6s;
            text-transform: uppercase;
            

        }
        button:hover {
            background-color: #333;
            color:rgb(252, 232, 230);
        }
    }
}